.formview-wrapper {
  display: flex;
  flex-direction: column; }
  .formview-wrapper .blocks-informs-wrapper {
    display: flex;
    top: 0;
    width: 100%;
    padding: 120px 100px 40px 100px;
    background-image: url("/assets/images/background1.png");
    color: white; }
    .formview-wrapper .blocks-informs-wrapper .blocks-header-info-group {
      margin-left: 30px;
      font-family: 'Montserrat', sans-serif; }
      .formview-wrapper .blocks-informs-wrapper .blocks-header-info-group .blocks-header-infos {
        display: flex; }
        .formview-wrapper .blocks-informs-wrapper .blocks-header-info-group .blocks-header-infos .blocks-header-info-items {
          margin-right: 30px; }
          .formview-wrapper .blocks-informs-wrapper .blocks-header-info-group .blocks-header-infos .blocks-header-info-items .blocks-header-info-title {
            font-size: 9px;
            color: #d4d4d4; }
          .formview-wrapper .blocks-informs-wrapper .blocks-header-info-group .blocks-header-infos .blocks-header-info-items .blocks-header-info-val {
            margin-top: 3px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px; }
          .formview-wrapper .blocks-informs-wrapper .blocks-header-info-group .blocks-header-infos .blocks-header-info-items .blocks-header-info-val1 {
            margin-top: 3px;
            font-size: 13px;
            font-weight: 600;
            color: #4fb6f4; }
    .formview-wrapper .blocks-informs-wrapper h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 600; }
    .formview-wrapper .blocks-informs-wrapper h7 {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 600; }
    .formview-wrapper .blocks-informs-wrapper h6 {
      margin-top: 60px;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 600; }
  .formview-wrapper .form-wrapper {
    position: relative; }
    .formview-wrapper .form-wrapper .form-tabs-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: -35px;
      padding: 0px 100px;
      width: 100%; }
      .formview-wrapper .form-wrapper .form-tabs-wrapper .tab-item {
        margin: auto;
        padding: 15px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
        font-family: 'Montserrat', sans-serif;
        font-size: 13px; }
      .formview-wrapper .form-wrapper .form-tabs-wrapper .tab-item:first-child {
        margin-left: 0px;
        margin: inherit; }
      .formview-wrapper .form-wrapper .form-tabs-wrapper .tab-item:last-child {
        margin-right: 0px; }
    .formview-wrapper .form-wrapper .blocks-list-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      font-weight: 600;
      color: #423f3f;
      margin-bottom: 10px; }
    .formview-wrapper .form-wrapper .all-block-list-group {
      padding: 25px 100px 10px 100px;
      background: white; }
      .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card:not(:last-child) .decoration .timeline:before {
        content: "";
        display: block;
        width: 2px;
        height: 40%;
        position: absolute;
        top: 95%;
        left: 50%;
        margin-left: -1px;
        transform: translateY(-50%);
        background: #48a3ff; }
      .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card {
        display: flex;
        margin-bottom: 10px;
        position: relative; }
        .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .decoration {
          justify-content: center;
          display: flex; }
          .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .decoration .timeline {
            top: -20;
            position: relative; }
          .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .decoration .timeline_icon {
            position: relative;
            text-align: center;
            padding: 25px;
            background: transparent;
            padding-top: 15px; }
          .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .decoration .time_ago {
            font-family: 'Montserrat', sans-serif;
            font-size: 8px;
            line-height: 0.6875rem;
            color: #616161;
            position: relative;
            top: -20px;
            text-align: center; }
        .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info {
          flex: 1;
          padding: 0px 10px 0px 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 13px;
          font-weight: 600; }
          .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-list-detail-id a {
            color: #2a2a2a; }
            .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-list-detail-id a:hover {
              font-weight: bold; }
          .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-detail-firstLine {
            display: flex; }
            .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-detail-firstLine .blocks-list-detail-date {
              font-size: 10px;
              font-weight: 600;
              color: #7a7a7a; }
            .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-detail-firstLine .blocks-list-detail-HEX_val {
              font-size: 10px;
              color: #48a3ff;
              margin-left: 50px; }
            .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-detail-firstLine .blocks-list-detail-percent {
              font-size: 11px;
              font-weight: 600;
              display: flex;
              flex: 1;
              justify-content: flex-end; }
          .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-list-detail-info {
            font-size: 9px;
            color: #7a7a7a;
            margin-left: -10px;
            display: flex;
            font-weight: 600; }
            .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-list-detail-info span {
              color: #48a3ff;
              padding-left: 10px;
              padding-right: 3px; }
            .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-list-detail-info .detail1 {
              color: #48a3ff;
              padding-left: 3px;
              padding-right: 3px; }
            .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-list-detail-info .usedInfo {
              color: #bebcbc;
              display: flex;
              font-size: 10px;
              flex: 1;
              justify-content: flex-end; }
              .formview-wrapper .form-wrapper .all-block-list-group .blocks_detail-card .blocks-card-info .blocks-list-detail-info .usedInfo span {
                color: #bebcbc;
                padding-left: 3px;
                padding-right: 3px; }
