.transactions_list {
  padding: 0px 100px 10px 65px;
  background: white; }
  .transactions_list .detail-card:not(:last-child) .decoration .timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 40%;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-left: -1px;
    transform: translateY(-50%);
    background: #48a3ff; }
  .transactions_list .detail-card {
    display: flex;
    margin-bottom: 0px;
    position: relative; }
    .transactions_list .detail-card .decoration {
      justify-content: center;
      display: flex; }
      .transactions_list .detail-card .decoration .timeline {
        top: -20;
        position: relative; }
      .transactions_list .detail-card .decoration .timeline_icon {
        position: relative;
        text-align: center;
        padding: 25px;
        background-color: transparent;
        padding-top: 15px; }
      .transactions_list .detail-card .decoration .time_ago {
        font-family: 'Montserrat', sans-serif;
        font-size: 8px;
        line-height: 0.6875rem;
        color: #616161;
        position: relative;
        top: -20px;
        text-align: center; }
    .transactions_list .detail-card .card-info {
      flex: 1;
      padding: 12px 10px 0px 10px;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      font-weight: 600; }
      .transactions_list .detail-card .card-info .transaction-list-HEX_val {
        font-size: 12px;
        color: #48a3ff;
        margin-top: 5px;
        margin-bottom: 5px; }
      .transactions_list .detail-card .card-info .transaction_first_row {
        display: flex;
        align-items: center; }
        .transactions_list .detail-card .card-info .transaction_first_row .status_icon {
          margin-right: 20px; }
        .transactions_list .detail-card .card-info .transaction_first_row .block-list-detail-id {
          width: 130px; }
        .transactions_list .detail-card .card-info .transaction_first_row .trasaction-list-id-col {
          flex: 1;
          display: flex;
          justify-content: flex-end; }
          .transactions_list .detail-card .card-info .transaction_first_row .trasaction-list-id-col .trasaction-list-id-img {
            margin-right: 10px; }
          .transactions_list .detail-card .card-info .transaction_first_row .trasaction-list-id-col .trasaction-list-id {
            padding-top: 3px;
            width: 50px;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #1343b4; }
        .transactions_list .detail-card .card-info .transaction_first_row .block-list-detail-date {
          font-size: 12px;
          font-weight: 600;
          color: #7a7a7a; }
      .transactions_list .detail-card .card-info .block-detail-firstLine {
        display: flex; }
        .transactions_list .detail-card .card-info .block-detail-firstLine .block-list-detail-HEX_val {
          font-size: 10px;
          color: #48a3ff;
          margin-right: 20px; }
        .transactions_list .detail-card .card-info .block-detail-firstLine .block-list-detail-percent {
          font-size: 11px;
          font-weight: 600;
          display: flex;
          margin-left: 20px;
          color: #48a3ff; }
      .transactions_list .detail-card .card-info .block-list-detail-info {
        font-size: 9px;
        color: #7a7a7a;
        margin-left: -10px;
        display: flex;
        font-weight: 600; }
        .transactions_list .detail-card .card-info .block-list-detail-info span {
          color: #48a3ff;
          padding-left: 10px;
          padding-right: 3px; }
        .transactions_list .detail-card .card-info .block-list-detail-info .detail1 {
          color: #48a3ff;
          padding-left: 3px;
          padding-right: 3px; }
        .transactions_list .detail-card .card-info .block-list-detail-info .block-list-detail-usedInfo {
          display: flex;
          font-size: 10px;
          flex: 1;
          justify-content: flex-end; }
