.middleEllipsis {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-weight: inherit;
  font-size: inherit;
  max-width: 100%;
  line-height: 1;
  user-select: all;
  color: inherit; }
  .middleEllipsis > .start {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1; }
  .middleEllipsis > .end {
    white-space: nowrap;
    width: 72px;
    overflow: hidden;
    text-align: right;
    direction: rtl;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1; }
