
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // background: #eeeef3;
    padding-top: 30px;
    
    aside.decoration {
        justify-content: center;        
        padding-top: 10px;
    }

    aside+section {
        padding-left: 15px;
    }
    
    aside {
        flex-basis: 220px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .transactions__nav {
        display: flex;
        align-items: baseline;    
        
        .date__form {
            margin-left: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
        }    
    }

    section>.title {
        font-size: 12px;
        font-size: .75rem;
        line-height: 12px;
        line-height: .75rem;
        text-transform: uppercase;
        color: #9198bb;
        font-weight: 500;
        margin-bottom: 30px;
    }

    section>div {
        flex: 1 1;
    }

    .transactions_list{
        .list__element:not(:last-child){
            .timeline{
                .timeline_icon:before{
                    content: "";
                    display: block;
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: 160%;
                    left: 50%;
                    margin-left: -1px;
                    transform: translateY(-50%);
                    background: #48a3ff;
                }
            }
        }
    }

}
