.date__input,.date__submit {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  
  .date__submit {
    font-size: 12px;
    padding: 0;
    margin: 0;
    padding: 2px 5px;
    min-width: 0;
    border-radius: 3px;
    margin-left: 5px;
  }
  
  .date__form .AMB-CalendarInput {
    max-width: 100px;  
  }
  
  .date__form .AMB-CalendarInput .input {
    width: 100px;
  }
  
  .date__form .AMB-CalendarInput input {
    background:#fff url('../../assets/icons/calendar.png') 97% 50% no-repeat ;
    padding: 2px;
  }
  
  .date__form .AMB-Input {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  
  .date__form .AMB-Input > .input input {
    padding: 2px;
  }
  
  .AMB-Button.solid {
    color: #0042ba;
    border: 1px solid #0042ba;
    background: #ffffff;
    border-radius: 0px;
    min-width: 111px;
    padding: 4px 3px;
}
  // .date__submit {
  //   margin-left: 5px;

  //   // display: inline-flex;
  //   // justify-content: center;
  //   // align-items: center;
  //   // position: relative;
  //   // font-size: 14px;
  //   // line-height: 1.2;
  //   // // border-radius: 30px;
  //   // font-weight: 500;
  //   // text-align: center;
  //   // min-width: 111px;
  //   // cursor: pointer;
  //   // word-break: keep-all;
  //   // -webkit-user-select: none;
  //   // user-select: none;
  //   // padding: 4px 3px;
  //   // transition: all 0.2s;
  // }
  
  .calendar{
    overflow: hidden;
    max-width: 350px;
    left: -155px;
  }
  
  .date__form {
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline; 
  }
  
  .date__form .download__impossible {
    cursor: default;
    color: rgb(190, 190, 190);
    border-color:rgb(190, 190, 190);
  }
   
  @media (max-width: 700px) {
    .date__form {
      margin:0 0 10px 0;
      display: flex;
      justify-content:flex-start; 
    }
  
    .date__form .AMB-CalendarInput {
      max-width:100px;
    }
  
    .date__form .AMB-Input {
      justify-content: flex-start;
    }
  
    .calendar {
      width:280px;
      left: 0;
     }
  }
  