.headerBar {
  padding: 0px 100px;
  position: absolute;
  top: 0px;
  z-index: 9999;
  width: 100%;
  background-color: transparent;
  color: white; }
  .headerBar .header {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    width: 100%; }
    .headerBar .header .header-wrapper {
      display: flex;
      width: 100%; }
      .headerBar .header .header-wrapper .logo {
        font-size: 30px;
        font-weight: bold;
        flex: 1; }
        .headerBar .header .header-wrapper .logo a {
          color: white; }
        .headerBar .header .header-wrapper .logo a:hover {
          text-decoration: none; }
        .headerBar .header .header-wrapper .logo .logo-img {
          width: 100%;
          background-image: url("/assets/images/UNOVA_logo.png"); }
      .headerBar .header .header-wrapper .menu {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .headerBar .header .header-wrapper .menu a {
          color: white; }
          .headerBar .header .header-wrapper .menu a:hover {
            font-weight: bold; }
        .headerBar .header .header-wrapper .menu .item {
          margin: 0px 20px;
          font-family: 'Montserrat', sans-serif;
          font-size: 12px; }
        .headerBar .header .header-wrapper .menu .selected {
          font-weight: bold; }
        .headerBar .header .header-wrapper .menu .search-box {
          margin-left: 20px;
          padding: 1px 15px;
          border-radius: 11px;
          background-color: white;
          width: 300px;
          display: flex; }
          .headerBar .header .header-wrapper .menu .search-box input {
            width: 100%;
            outline: none;
            border: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px; }
          .headerBar .header .header-wrapper .menu .search-box img {
            color: lightgray;
            opacity: 0.3; }
  .headerBar hr {
    margin: 0; }

@media only screen and (max-width: 768px) {
  .headerBar {
    padding: 0px 5%;
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
    background-color: white; }
    .headerBar .header {
      padding: 10px 0px;
      display: flex;
      align-items: center; }
      .headerBar .header .header-wrapper {
        display: flex; }
        .headerBar .header .header-wrapper .logo {
          font-size: 30px;
          font-weight: bold;
          color: black; }
          .headerBar .header .header-wrapper .logo a {
            color: black; }
          .headerBar .header .header-wrapper .logo a:hover {
            text-decoration: none; }
        .headerBar .header .header-wrapper .menu {
          display: none; }
        .headerBar .header .header-wrapper .right-helper {
          display: none; }
        .headerBar .header .header-wrapper .mobile-menu {
          display: block;
          transition: all ease 0.4s; }
          .headerBar .header .header-wrapper .mobile-menu .menu-icon {
            transition: all ease 0.4s;
            position: absolute;
            right: 5%;
            font-size: 30px; }
          .headerBar .header .header-wrapper .mobile-menu .menu-wrapper {
            transition: all ease 0.4s;
            display: block;
            position: fixed;
            left: 0;
            top: 10vh;
            width: 90%;
            margin: 0 5%;
            height: 90vh;
            padding-top: 20px;
            background-color: #f0f2f3;
            border-radius: 10px; }
            .headerBar .header .header-wrapper .mobile-menu .menu-wrapper .item {
              text-align: center;
              font-size: 24px;
              font-weight: bold; }
          .headerBar .header .header-wrapper .mobile-menu .menu-wrapper.open {
            left: 0px; }
          .headerBar .header .header-wrapper .mobile-menu .menu-wrapper.hide {
            left: -100vh; }
    .headerBar hr {
      margin: 0; } }
